@import "tailwindcss";
@source "../views";
@plugin "daisyui" {
    themes: "light";
}

.required::after {
    content: "*";
    color: red;
}

#map {
    height: 180px;
}
#map2 {
    height: 180px;
}

.fl-wrapper {
    z-index: 1010 !important; /* Set the desired z-index value */
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    margin-right: 4px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 10px;
    transition: color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
}

* {
    scrollbar-color: unset !important;
    scrollbar-width: auto !important;
    scroll-behavior: smooth;
}
