@tailwind base;
@tailwind components;
@tailwind utilities;

.required::after {
    content: "*";
    color: red;
}

#map {
    height: 180px;
}

.fl-wrapper {
    z-index: 1010 !important; /* Set the desired z-index value */
}
